openapi: 3.0.0
info:
  title: Webアプリケーション研修11班 API
  description: Webアプリケーション研修11班
  version: 0.0.0
servers:
  - url: http://localhost:9000
    description: local server
paths:
  /posts:
    get:
      summary: 全ての投稿をリストで返す
      responses:
        "200":
          description: 投稿のJSON配列
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/Post"
    post:
      summary: 投稿を作成する
      requestBody:
        required: true
        content:
          application/json:
              schema:
                type: object
                required:
                - user_id
                - content
                properties:
                  user_id:
                    type: integer
                  content:
                    type: string
      responses:
        "201":
          description: 投稿のJSON
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Post"
  /replies:
    get:
      summary: 投稿のIDから、その投稿への返信をリストで返す
      parameters:
        - name: post_id
          in: query
          required: true
          description: 投稿のID
          schema:
            type: integer
      responses:
        '200':
          description: 返信のJSON配列
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/Reply"
    post:
      summary: 返信を作成する
      requestBody:
        required: true
        content:
          application/json:
              schema: 
                type: object
                required:
                - post_id
                - user_id
                - content
                properties:
                  post_id: 
                    type: integer
                  user_id:
                    type: integer
                  content:
                    type: string
      responses:
        '201':
          description: 返信のJSON
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Reply"

  /stamp/add/post:
    post:
      summary: 投稿にスタンプを押す
      requestBody:
        required: true
        content:
          application/json:
              schema: 
                type: object
                required:
                - post_id
                - user_id
                - stamp_name
                properties:
                  post_id: 
                    type: integer
                  user_id:
                    type: integer
                  stamp_name:
                    type: string

      responses:
        '200':
          description: 更新後の投稿のJSON
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Post"

  /stamp/remove/post:
    post:
      summary: 投稿からスタンプを削除する
      requestBody:
        required: true
        content:
          application/json:
              schema: 
                type: object
                required:
                - post_id
                - user_id
                - stamp_name
                properties:
                  post_id: 
                    type: integer
                  user_id:
                    type: integer
                  stamp_name:
                    type: string

      responses:
        '200':
          description: 更新後の投稿のJSON
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Post"

  /stamp/add/reply:
    post:
      summary: 返信にスタンプを押す
      requestBody:
        required: true
        content:
          application/json:
              schema: 
                type: object
                required:
                - reply_id
                - user_id
                - stamp_name
                properties:
                  reply_id: 
                    type: integer
                  user_id:
                    type: integer
                  stamp_name:
                    type: string
      responses:
        '200':
          description: 更新後の返信のJSON
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Reply"

  /stamp/remove/reply:
    post:
      summary: 返信からスタンプを削除する
      requestBody:
        required: true
        content:
          application/json:
              schema: 
                type: object
                required:
                - reply_id
                - user_id
                - stamp_name
                properties:
                  reply_id: 
                    type: integer
                  user_id:
                    type: integer
                  stamp_name:
                    type: string
      responses:
        '200':
          description: 更新後の返信のJSON
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Reply"


components:
  schemas:
    Post:
      type: object
      allOf:
        - $ref: "#/components/schemas/Reply"
      properties:
        num_replies:
          type: integer
          description: "投稿に対する返信の数"
    Reply:
      type: object
      properties:
        id:
          type: integer
          description: ID
        user:
          $ref: "#/components/schemas/UserPublic"
        content:
          type: string
          description: "投稿の中身"
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
        stamps:
          type: array
          items:
            type: object
            $ref: "#/components/schemas/Stamp"
    
    Stamp:
      type: object
      properties:
        name:
          type: string
        user_id:
          type: integer

            
    UserPublic:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        icon:
          type: string
          description: "icon の URL"