.bulletin-with-thread {
    display: flex;
};

.post-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.message-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding-bottom: 10px;
    gap: 10px;
    
    position: relative;
    width: 300px;
    // height: 120px;
}

.message-author-image {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.message-not-image-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    
    width: 210px;
    // height: 99px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.message-author-name {
    height: 15px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 15px;
    
    color: #000000;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.message-message {
    width: 195px;
    height: 13px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    margin-top: 2px;
    
    color: #000000;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.message-stamp-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-top: 5px;

    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.message-stamp-image {
    // width: 50px;
    height: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}    

.message-stamp-add {
    width: 46px;
    height: 26px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.message-reply-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    
    width: 100px;
    height: 39px;
    
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.message-reply-image1 {
    width: 24px;
    height: 26px;
    
    border-radius: 6px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.message-reply-image2 {
    width: 24px;
    height: 26px;
    
    border-radius: 6px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.message-reply-button {
    height: 16px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5883C3;
    
    // border: 1px solid #FFFCFC;
    border: none;
    background: transparent;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

// .reaction-button {
//     /* slack-stamp */

//     /* Auto layout */
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     // padding: 10px 5px;
//     gap: 11px;

//     position: relative;
//     width: 40px;
//     height: 20px;

//     background: #F4F4F4;
//     border: 1px solid #226EA9;
//     border-radius:10px;
// }

// .emoji-block {

//     /* 絵文_字。 1 */

//     width: 16px;
//     height: 16px;

//     /* Inside auto layout */
//     flex: none;
//     order: 0;
//     flex-grow: 0;


//     /* 1 */

//     width: 16px;
//     height: 16px;

//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 80px;
//     line-height: 97px;
//     display: flex;
//     align-items: center;
//     text-align: center;

//     color: #000000;


//     /* Inside auto layout */
//     flex: none;
//     order: 1;
//     flex-grow: 0;
// }

.after_click_stamp {
    /* slack-stamp */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3.72093px 6.64452px;
    gap: 1.73px;

    position: relative;
    width: 40px;
    height: 22.33px;

    background: #DCF4FC;
    border: 0.531561px solid #226EA9;
    border-radius: 11.9601px;
}

.emoji-block {
    /* 絵文_字。 1 */

    width: 14.22px;
    height: 14.22px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.count-block{
    /* 2 */

    width: 9.44px;
    height: 13.95px;

    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6312px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}